<div class="reviews-wrapper">
<img class="img_bkg" src="https://cdn.shopify.com/s/files/1/1571/5355/files/reviews-bkg_52e53ef7-f0f8-44ad-bd19-c0b9574208ed.png?48076164648996798" alt="Product Reviews" />
</div>