<section class="cms-up-sell section-wrapper">
   <div class="container">
        <div class="row">	 
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 first-item">
             <div class="cms-upsell-content">
               <h1>Compare</h1>
                <h2>DIAMONDBACK COVERS</h2>
               <div class="cms-upsell-text">Discover the best DiamondBack for you.</div>
               <a class="btn" href="/pages/compare-covers">Compare</a>
             </div>
             <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/compare.png?12175071516160272676" alt="Compare" />
             </div> 
          
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 second-item">
             <div class="cms-upsell-content">
               <h1>Accessories</h1>
               <h2>FOR THE DIAMONDBACK<b>SE</b></h2>
               <div class="cms-upsell-text">Make the toughest even tougher.</div>
               <a class="btn" href="/collections/accessories">Shop Accessories</a>
             </div>
             <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/accessories.png?10572702061729322783" alt="Accessories" />
             </div>   
          
          
  </div> 
 </div>             
</section>