/* GLOBAL ITEMS */
.filter-result-content {display:none!important;}

/* SIDEBAR LINK */
.customer-service li a{font-family: "Vitesse SSm A", "Vitesse SSm B"!important; font-style: normal; font-weight: 700;}

/***** PAGE: HOMEPAGE */
.home-section-points .cms-content-wrap .main-title .home {font-family: "Conv_Forza-Bold",sans-serif!important;font-size: 19px!important; text-transform: uppercase!important;}

/***** PAGE: HD DETAIL */
@media (max-width:1024px) {
  .product-single__meta-content {max-width:400px!important;}
  .cms-upsell-content h1 {text-align:center!important;}
}

/***** PAGE: VIDEOS */
li.video1 {width: 48%; list-style: none; float: left; margin-right: 45px;}
li.video2 {width: 48%; list-style: none; float: left;}

@media screen and (max-width: 1468px) {
li.video1 {width: 100%; list-style: none;}
li.video2 {width: 100%; list-style: none;}
}

/* PAGE: INSTALLATION GUIDES */
div.manuals {width:100%; clear:both; margin-top:75px;}
ul.manuals {background-color:#edeceb; width:45%; display:inline-block; vertical-align:top; padding:25px 0 50px 0; margin:0; border-right:thin solid #333333;}
ul.manuals:nth-child(1){margin-right:5%;}
ul.manuals li{width:80%; list-style:none; color:#4F5150; font-size:18px; border-bottom: thin solid #D5D7D8; padding:12px 0; margin:0 auto; font-family: "Conv_Forza-Black",sans-serif;}
ul.manuals li.title{width:80%; list-style:none; font-size:30px; border-bottom: thin solid #A0A1A2; padding:18px 0; margin:0 auto; font-family: "Conv_Vitesse-Book",sans-serif; text-align:center;}
ul.manuals img {max-width:31px; margin-right:8px;}
ul.manuals li.title span {font-family: "Conv_Vitesse-Black",sans-serif;}
ul.manuals li a, ul.manuals li a:visited, ul.manuals li a:active{color:#4F5150; border-bottom:none!important;}
ul.manuals li a:hover{color:#06b9e4; text-decoration:none!important;}
span.small{font-size:24px;}

@media screen and (max-width: 1388px) {
  ul.manuals li.title {font-size:28px;}
  ul.manuals li {font-size:16px;}
}
@media screen and (max-width: 1253px) {
  ul.manuals li.title {font-size:26px;}
  ul.manuals li {font-size:14px;}
}
@media screen and (max-width: 1122px) {
  ul.manuals {width:100%;}
  ul.manuals li.title {font-size:30px;}
  ul.manuals li {font-size:18px;}
}

/* PAGE: SHIPPING PAGE */
/*section.shipping {margin-left:150px;}*/
section.shipping h3 {font-family: "Conv_Vitesse-Book", sans-serif; font-size:30px;}
section.shipping h4 {font-family: "Conv_Vitesse-Bold", sans-serif; font-size: 22px;}
section.shipping h4 span {font-family: "Conv_Vitesse-Book", sans-serif; font-size:15px;}
section.shipping p {font-size:18px; color:#4F5150;}
.shipping-info {
    margin-bottom: 50px;
    max-width: 800px;
    overflow: hidden;
}
.shipping-info .item {
    float: left;
    font-family: "Conv_ForzaSSm-Black",sans-serif;
    font-size: 18px;
    overflow: hidden;
}
.shipping-info .item1 {width:60%; float: left; font-family: "Conv_ForzaSSm-Black",sans-serif;font-size: 18px;overflow: hidden;}
.shipping-info .item2 {width:40%; float: left; font-family: "Conv_ForzaSSm-Black",sans-serif;font-size: 18px;overflow: hidden;}
.shipping-info .title {
    font-family: "Conv_Forza-Bold",sans-serif;
    font-size: 24px;
}
.shipping-info .info-wrap {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 0;
}
.shipping-info .info-wrap {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 0;
}
img.map {margin-top: -525px; margin-left: -300px; min-width: 1280px;}

@media screen and (max-width: 1024px) {
img.map {margin-top: -550px; margin-left: -260px; min-width: 1280px;}
}

@media screen and (max-width: 768px) {
img.map {margin-top: -410px; margin-left: -200px; min-width: 960px;}
}
@media screen and (max-width: 425px) {
img.map {margin-top: -210px; margin-left: -100px; min-width: 500px;}
}
@media screen and (max-width: 375px) {
img.map {margin-top: -190px; margin-left: -100px; min-width: 450px;}
  .shipping-info .item {font-size:14px;}
  .shipping-info .item1 {font-size:14px;}
  .shipping-info .item2 {font-size:14px;}
}

/* PAGE: OWNERS MANUAL & INSTALLATION GUIDE */
a.owners-manual {border-bottom: none!important; padding-bottom: 1px;}

/* PAGE: FAQs */
section.customer-service-item div.answer {margin-left: 25px; color:#4F5150; font-size:20px;}
.customer-service-item li a {font-size:20px;}
#customer-service .customer-service-item h1 {
    font-family: "Conv_Vitesse-Book",sans-serif !important;
    font-size: 22px !important;
}
#customer-service .customer-service-item h1.fg {
    font-size: 30px !important;
}

#customer-service .sidebar {margin-top: 100px !important;}
.customer-service-item li a {font-family:"Conv_ForzaSSm-Book"!important;}

/*#collection-accessories #left_column li::after {
  content: url('//cdn.shopify.com/s/files/1/1571/5355/t/4/assets/sidebar-bullet.svg');
}*/

/* PAGE: ATV CAT */
section.cover-more-info-atv.cover-atv-compare-section a.link.youtube {margin-top:12px;}

/* PAGE: ATVS */
.opt-main-content span {font-family: "Conv_ForzaSSm-Black",sans-serif; font-size: 16px;} 
.opt-main-content {font-family: "Conv_ForzaSSm-Book",sans-serif;/*font-size: 20px;*/}
div.opt-title {font-family: "Conv_ForzaSSm-Black",sans-serif;font-size: 18px;}
ul.slider-bullets {font-family: "Conv_ForzaSSm-Bold",sans-serif;font-size: 17px;}
.atv-options-items {max-width: 700px!important;}
.atv-options-items-sxs {max-width: 900px!important; margin: 30px auto 0!important;}

/* Tablet 1280px */
@media (min-width:1280px) {
  .opt-main-content {max-width:820px!important;}
}

/* Tablet 1024px */
@media (min-width:1024px) {
  .atv-options-content-wrapper {background-size: 100% 120%!important; padding-top:3%!important;}
}

/* Tablet 1024px */
@media (max-width:1024px) {
  .atv-options-desc {font-size:13px!important;}
}
/* Tablet 667px */
@media (max-width:667px) {
  .atv-option-item img {max-width:100px!important;}
}

/* PAGE: ATVR */
.rear-win {
 color: #808285;
}

.selector-wrapper {
    float: left;
    margin-right: 40px;
}
.rear-win {
    float: left;
    margin-top: 5px;
  	margin-left: 20px;
}

.rear-win span {
    color: #4f5150;
    display: block;
    font-family: "Conv_ForzaSSm-Bold",sans-serif;
    font-size: 16px;
    margin-top: 5px;
  	margin-left: 100px;
}
.rear-win span img {max-width:15px; max-height:15px; margin-right:8px;}
.price-label {margin-right:57px!important;}
.haul-opt {margin-left:20px;}


form.product-form.product-form-ATVRparent {display:inline-block!important;}



/* PAGE: CART */
div.cart-grid{margin: 60px auto 0; max-width: 100%; padding-bottom: 60px; background-color:#EDECEB; padding: 40px 0;}
div.cart-grid ul{width:100%; margin: 0 auto;}
div.cart-grid li {display:inline-block; text-align:center;}
div.cart-grid .title {display:block; margin-bottom:5px;}
div.cart-grid a{font-family: "Conv_Vitesse-Book",sans-serif; font-size:22px; text-transform:uppercase;}
div.cart-grid img {display:block; margin:0 auto; border-bottom: solid thin #B8B8B9; padding-bottom:15px;}
div.cart-grid .price {display:block; margin-bottom:5px; font-family: "Conv_ForzaSSm-Black",sans-serif;font-size: 22px; color:#939598;}

/* PAGE: CHECKOUT */
section.cart div.sidebar {width: 40%!important;}

/* PAGE: PRODUCTS */
@media (min-width:1920px) {
	div.product-single__description.rte {font-size:17px!important;}
}

/* PAGE: CHECKOUT */
section.cart {background-color:white!important;}
div.sidebar__content {margin-top: 120px;}
h2.section__title.layout-flex__item.layout-flex__item--stretch {text-transform:capitalize; font-family: "Conv_Vitesse-Book", sans-serif;}
h2.section__title {text-transform:capitalize; font-family: "Conv_Vitesse-Book", sans-serif;}
.checkout-wrap{padding: 0 5%; width: 80%; margin: 0 auto;}
div.order-summary.order-summary--is-collapsed {background-color: #faf8f9; padding: 50px;}

/* PAGE: ACCESSORIES CATEGORY */
.document-desc-content-accessories{background: #2d2d2d; height: 200px; position: absolute; width: 100%;}
#Collection .h4.grid-view-item__title {font-size:29px!important;}
span.cat-compatible-with {font-size: 15px; color: #808285;}
.product-multi-view {display:none;}

/***** PAGE: COVERS */
section.dcovers .collection-item-wrapper h1, section.dcovers .collection-item-wrapper h2 {font-size: 34px!important;}
section.dcovers .collection-item-wrapper h2 {margin-bottom: 25px !important;}
section.dcovers h2.reverse {margin-bottom: 5px !important;}
section.dcovers h1.reverse {margin-bottom: 25px !important;}
li.get-ready-icon {max-width:170px; margin: 50px auto 0 auto;}
li.get-ready-icon-3{margin: 25px auto 0 auto; max-width:80px; }

/***** PAGE: COVERS DETAIL */
.upload-title-gray {color:#2d2d2d!important;}

/* PAGE: REGISTER YOUR DIAMONDBACK */
.form-holder {width:90%;}

/***** TABLET & PHONE MEDIA QUERIES *****/

/* Tablet 1024px */
@media (max-width:1024px) {
  /* Global */
  .footer .grey-zubriki-top {margin-top:-46px!important;}
  .footer {display: inline-block;}

  /* Homepage */
  .home-cms-about-wrapper h1, .home-cms-about h2 {text-align:left!important; line-height:30px;}
  .template-index .footer .grey-zubriki-top {margin-left:30px!important;}
  .logos {max-width:none!important;}
  .logos img {max-width:900px;}
  .cont-title-1 {font-size:28px!important;}
  .home-cms-about.home-ready {padding: 40px 0;}
  .upload-gallery-wrapper {text-align:center;}
  .home-atv-callout {text-align:center;}
  .zubriki-wrapper div {margin-left:25px!important;}
  .home-cms-about h1 {line-height:30px!important;}
  .covers-collection .comp-name {font-size:18px !important;margin-bottom: 5px !important;}
  
  /* Covers */
  section.dcovers .collection-item-wrapper h1, section.dcovers .collection-item-wrapper h2 {font-size: 27px!important;}
  section.dcovers .collection-item-wrapper h2 {margin-bottom: 15px !important;}
  section.dcovers h2.reverse {margin-bottom: 5px !important; padding-top:20px;}
  section.dcovers h1.reverse {margin-bottom: 25px !important;}
  .home-section-points .cms-content-wrap .main-title {font-size:18px!important;}
  .covers-collection .cont-title-1, .atv-collection .cont-title-1 {font-size:33px!important;}
  .covers-collection .cont-title-2, .atv-collection .cont-title-2 {font-size:17px!important;}
  .cover-more-info .container h1.covers-why {font-size:33px!important;}
  .cover-more-info h2 {font-size:16px!important;}
  .cms-up-sell h2 {font-size:18px!important;}
  .contact-wrapper h1 {font-size:28px!important;}
  .sm-instr {font-size:15px!important;}
  .time-instr {font-size:18px!important;}
  .collection-btn-wrapper a {font-size:16px!important;}
  .cms-up-sell img {margin-left:50px!important;}
  [class^="upload-title"] {font-size:28px!important; margin-bottom:15px;}
  .home-atv-callout h4 {font-size:28px!important; margin-bottom:15px;}
  .banner.atv-banner .banner-title {font-size:38px!important;}
  .banner.atv-banner  .banner-sub-title {font-size:20px!important;}
  .banner.atv-banner .banner-sm-title {font-size:20px!important;}
  .custom-collection-wrapper .atv-more-info h1.whitetitle {font-size:28px!important; max-width: 500px!important;}
  .cover-more-info-atv h1 {font-size:26px!important;}
  .cover-more-info-atv h2 {font-size:16px!important;}
  
  /* Covers Detail */
  .comp-desc-1 {width:60%!important;}
  .comp-desc-2 {width:40%!important; padding: 0 15px;}
  ul.slider-bullets {font-size:15px;}
  
  /* ATV Detail */
  .atv-options-content-wrapper {background-color:#333333!important; padding-bottom:25px!important;}
  .atv-options-content-wrapper .opt-title {font-size:13px!important;}
  
  /* ATVS */
  .product-additional-description {font-size:13px!important;}
  .specs-content-wrapper {font-size:13px!important;}
  .product-section  .atv-options-content-wrapper h2.product-slide-title, .product-section h1.product-slide-title {font-size:28px!important;}
  
}

/* Tablet 768px */
@media (max-width:768px) {
  /* Global */
  
  /* Homepage */
  .home-cms-about-wrapper h1, .home-cms-about h2 {text-align:center!important;}
  .zubriki-wrapper div {margin-left:15px!important;}
  .home-cms-about.home-ready {background-position: left top!important;}
  .home-about-content {max-width:90%!important;}
  .home-cms-about h1 {font-size:33px !important;}
  .home-cms-about h2 {font-size:17px !important;letter-spacing:.04em!important;}
  
  /* Covers */
  section.dcovers h2.reverse {margin-bottom: 0 !important;}
  section.dcovers h1.reverse {margin-bottom: 25px !important;}
  .collection-btn-wrapper a {font-size:16px!important;}
  .covers-collection .collection-item-wrapper h2 {max-width:none!important;}
  .banner.atv-banner .banner-title {font-size:30px!important;}
  .banner.atv-banner  .banner-sub-title {font-size:16px!important;}
  .cms-up-sell img {margin: 20px auto 0 8px!important;}
`[class^="upload-title-gray"] {color:#2d2d2d;}
  
  /* Covers Detail */
  .product-form .selector-wrapper {text-align:center!important;}
  /*.bv-container {float:none!important;}*/
  .bv-supercontainer > .bv-container {text-align:center!important;}
  .bv-supercontainer {margin: 0 auto!important; padding-left:0!important;}
  #shopify-section-HDparent ul, #shopify-section-SEparent ul, #ProductSection-SEparent ul, #ProductSection-270parent ul, #ProductSection-180parent ul
  .bv-container {float:none!important;}
  .bv-supercontainer > .bv-container {float:none!important;}
  .comp-desc-1 {width:60%!important; float:none!important; margin:0 auto; width: 90%!important; text-align: center;}
  .comp-desc-2 {width:40%!important; padding: 20px; float:none!important; margin: 0 175px;}
  .document-desc-content-main {margin-left:auto!important; margin-right:auto;}
  
  /* ATV Category */
  /*.banner.atv-banner .banner-content {margin: 15% auto!important;}*/
  
  /* SXS Detail */
  .product-cms-wrapper h1 {font-size:32px!important;}
  .product-cms-wrapper h2 {font-size:23px!important;}
}


/* Phone 667px */
@media (max-width:667px) {
  
  /* Homepage */
  .zubriki-wrapper div {margin-left:10!important;}
  
  /* Covers */
  .footer .grey-zubriki-top {margin-top:-51px!important;}
  
  /* Covers Detail */
  .product-cms-wrapper {padding: 30px 0 30px!important;}
  
  /* Help */
  .home-section-points h1 {margin-bottom:20px!important;}
  
  /* ATV PARENT */
  .banner.atv-banner .banner-sm-title {font-size:16px!important;}
 
}

/* Tablet 375px */
@media (max-width:375px) {
  
  /* Homepage */
  .zubriki-wrapper div {margin-left:0!important;}
  
  /* Covers */
  .template-product .footer .grey-zubriki-top {margin-left:40px!important;}
  
  /*Covers Detail */
  ul.slick-dots {text-align:center!important; max-width: 380px!important;}
  .comp-desc-2 {width: 80%!important; padding: 20px; float: none!important; margin: 0 40px;}
  .document-desc-content-main {margin-left:40px!important; margin-right:none;}
  
  /* ATV Detail */
  .product-section  .atv-options-content-wrapper h2.product-slide-title, .product-section h1.product-slide-title {font-size:20px!important;}
  
  /* Cart */
  div.cart-grid .qmain-title {font-size:25px;}

}
  
  /* Installation Guides */
  ul.manuals li {font-size:12px;}
  ul.manuals li.title {font-size:22px;}
}

#bazaar {display:block;}