  @font-face {
	font-family: 'Conv_ForzaSSm-Medium';
	src: url('ForzaSSm-Medium.eot');
	src: local('☺'), url('ForzaSSm-Medium.woff') format('woff'), url('ForzaSSm-Medium.ttf') format('truetype'), url('ForzaSSm-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}