{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% section 'cart-template' %}

{% section 'cart-product-feed' %}

<div class="cart-questions">
  <div class="container">
<div class="row"><div class="qmain-title col-lg-12">Questions</div></div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><div class="q-title">When will I get my order?</div><div class="q-content">We estimate your order will leave our plant in Pennsylvania by <span class="shipDate"></span>. Once it does, you'll receive a shipment notification email with tracking info & an estimated delivery date. Transit time from Pennsylvania varies from 1 to 7 business days, depending on your location.</div></div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><div class="q-title">How much will shipping cost?</div><div class="q-content"><b>For U.S. shipments</b>, it's $150 to the contiguous states for orders with a DiamondBack cover. Orders without a cover ship via FedEx ground or USPS and are calculated at checkout.</div></div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><div class="q-content"><b>For Canada Shipments</b>, it's $200 from Ontario eastward or $250 from Manitoba westward for orders with a DiamondBack cover. Orders without a cover ship via FedEx ground or USPS and are calculated at checkout. If you're in Northern Canada (>54) or the Maritimes, please email us at 
info@diamondbackcovers.com or call us at (800) 935-4002 for a shipping quote. Orders without a cover ship via FedEx ground or USPS and are calculated at checkout.</div></div>
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><div class="q-title">How is sales tax determined for my order?</div><div class="q-content">Sales tax is only charged for PA shipments at 6%, and Canadian shipments at 5%.</div>
  <div class="q-title">What payment methods can I use?</div> 
  <div class="q-content">We accept all major credit cards including VISA, Mastercard, Discover, and American Express. Financing options are not available through DiamondBack Truck Covers.</div>
  </div>
</div>
</div>
   </div>
<style>
  .email-wrapper {display: none!important;}
</style>

<!-- Begin Cart Shipping Calculation -->
  <script>
  	var shipDate = new Date(); /* Date() = today's date */
	var numberOfDaysToAdd = 13;
	shipDate.setDate(shipDate.getDate() + numberOfDaysToAdd); 
  	var dd = shipDate.getDate();
	var mm = shipDate.getMonth() + 1;
	var yyyy = shipDate.getFullYear();
		if(dd<10){
    		dd='0'+dd;
		} 
		if(mm<10){
    		mm='0'+mm;
		}
  
	var shipDate = mm + '/'+ dd + '/'+ yyyy;
    /*document.getElementById("shipDate").innerHTML = shipDate;*/
    $(".shipDate").html(shipDate);
</script>
<!-- End Cart Shipping Calculation -->