{% comment %}The contents of the collection.liquid template can be found in /sections/collection-template.liquid{% endcomment %}
<script type="text/javascript">
$BV.ui( 'rr', 'inline_ratings', {
productIds : ['CVR-HD', 'CVR-SE', 'CVR-270', 'CVR-180'],
containerPrefix : 'BVRRInlineRating'
});
</script>

<section class="banner-product">
    <div class="wrapper">
        <div class="column-hidden image hd">
            <h4>DiamondBack</h4>
            <h3>HD</h3>
        </div>
        <div class="column image hd"></div>
        <div class="column copy">
            <h4>DiamondBack</h4>
            <h3>HD</h3>
            <h1>Heavy Duty Engineering</h1>
            <h2>Meets Lightweight Construction.</h2>
			<div class="price-and-rating">
			    <div class="price-info">
			        <div class="price">
			            FROM<br>
			        <span>
			        	$1,529</span>
			        </div>
			    </div>
			    <a href="/products/diamondbackhd#rr-snapshot-container">
                    <div class="bv-container">
                        <div id="BVRRInlineRating-CVR-HD"></div>
                    </div>
                </a>
			</div>
            <div class="btns">
                <a href="/products/diamondbackhd">EXPLORE</a> / <a href="#" data-collection="354293129" class="configure_by_collection">BUY NOW</a>
            </div>
        </div>
    </div>
</section>
<section class="banner-product">
    <div class="wrapper gray">
        <div class="column-hidden image se">
            <h4>DiamondBack</h4>
            <h3>SE</h3>
        </div>
        <div class="column image right se"></div>
        <div class="column copy">
            <h4>DiamondBack</h4>
            <h3>SE</h3>
            <h1>The New Standard</h1>
            <h2>In Hard Truck Bed Covers.</h2>
          <div class="price-and-rating">
           <div class="price-info">
            <div class="price">
                FROM<br>
                <span>$1,129</span>
            </div>
          </div>
            <a href="/products/diamondbackse#rr-snapshot-container">
                <div class="bv-container">
                    <div id="BVRRInlineRating-CVR-SE"></div>
                </div>
            </a>
          </div>
            <div class="btns">
                <a href="/products/diamondbackse">EXPLORE</a> / <a href="#" data-collection="354293065" class="configure_by_collection">BUY NOW</a>
            </div>
        </div>
    </div>
</section>
<section class="banner-product">
    <div class="wrapper">
        <div class="column-hidden image i270">
            <h4>DiamondBack</h4>
            <h3>270</h3>
        </div>
        <div class="column image i270"></div>
        <div class="column copy">
            <h4>DiamondBack</h4>
            <h3>270</h3>
            <h2>Toolbox Up Front.</h2>
            <h1>Truck Cover In Back.</h1>
          <div class="price-and-rating">
           <div class="price-info">
            <div class="price">
                from<br>
                <span>$1,629</span>
            </div>
            </div>
                <a href="/products/diamondback270#rr-snapshot-container">
                    <div class="bv-container">
                        <div id="BVRRInlineRating-CVR-270"></div>
                    </div>
                </a>
          </div>
            <div class="btns">
                <a href="/products/diamondback270">EXPLORE</a> / <a href="#" data-collection="354293577" class="configure_by_collection">BUY NOW</a>
            </div>
      </div></div>
</section>
<section class="banner-product">
    <span class="gray"></span>
    <div class="wrapper gray">
        <span class="gray"></span>
        <div class="column-hidden image i180">
            <span class="gray"></span>
            <h4>DiamondBack</h4>
            <h3>180</h3>
        </div>
        <div class="column image right i180">
            <span class="gray"></span>
        </div>
        <div class="column copy">
            <span class="gray"></span>
            <h4><span class="gray">DiamondBack</span></h4>
            <h3><span class="gray">180</span></h3>
            <h2><span class="gray">Moves Like A Butterfly.</span></h2>
            <h1><span class="gray">Works Like A Bee.</span></h1>
          <div class="price-and-rating">
           <div class="price-info">
            <div class="price">
                from<br>
                <span>$1,329</span>
            </div>
            </div>
                <a href="/products/diamondback180#rr-snapshot-container">
                    <div class="bv-container">
                        <div id="BVRRInlineRating-CVR-180"></div>
                    </div>
                </a>
          </div>
            <div class="btns">
                <a href="/products/diamondback180">EXPLORE</a> / <a href="#" data-collection="354293641" class="configure_by_collection">BUY NOW</a>
            </div>
      </div></div>
</section>
<section class="dcovers">
    <section class="get-ready">
        <div class="tabs"></div>
        <div class="wrapper">
            <div class="row">
                <h1>Get Ready</h1>
                <h2>With Diamondback</h2>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="column">
                    <div class="img-wrapper">
                        <ul>
                            <li class="get-ready-icon"><img alt="Cover" src="{{ 'get-ready-01.svg' | asset_url }}"></li>
                        </ul>
                    </div>
                    <div class="title">
                        <span>1.</span> Choose Your Cover
                    </div>
                </div>
                <div class="column">
                    <div class="img-wrapper">
                        <ul>
                            <li class="get-ready-icon"><img alt="Order" src="{{ 'get-ready-02.svg' | asset_url }}"></li>
                        </ul>
                    </div>
                    <div class="title">
                        <span>2.</span>Order &amp; Track
                    </div>
                </div>
                <div class="column">
                    <div class="img-wrapper">
                        <ul>
                            <li class="get-ready-icon-last"><img alt="Install" src="{{ 'get-ready-03.svg' | asset_url }}"></li>
                        </ul>
                    </div>
                    <div class="title">
                        <span>3.</span>Install &amp; <b>Be Ready</b>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-diamondback">
        <div class="wrapper">
            <div class="tabs-blue"></div>
            <div class="row">
                <div class="column">
                    <h1>Why Diamondback?</h1>
                    <h2>Discover the DiamondBack Experience</h2><a class="youtube" data-youtube="https://www.youtube.com/embed/mWlxnJBlfnA?rel=0" href="#"><img alt="DiamondBack" src="{{ 'why-db.svg' | asset_url }}" style="max-height:75px; margin-top: 25px;"></a>
                </div>
            </div>
        </div>
    </section>
    <style>
    </style>
    <section class="cms-up-sell section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 first-item">
                    <div class="cms-upsell-content">
                        <h1>Compare</h1>
                        <h2>DIAMONDBACK COVERS</h2>
                        <div class="cms-upsell-text">
                            Discover the best DiamondBack for you.
                        </div><a class="btn" href="/pages/compare-covers">Compare</a>
                    </div><img alt="Compare" class="hidden-xs hidden-sm compare-img" src="https://cdn.shopify.com/s/files/1/1571/5355/files/Covers_Comparison_L_adj.jpg?8149668548158440170"> <img alt="Compare" class="hidden-md hidden-lg compare-img-mobile" src="https://cdn.shopify.com/s/files/1/1571/5355/files/Covers_Comparison_L_adj.jpg?8149668548158440170"> <!--img src="https://cdn.shopify.com/s/files/1/1571/5355/files/compare-mobile.png?2719183619159101586" alt="Compare" class="hidden-md hidden-lg compare-img-mobile" /-->
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 second-item">
                    <div class="cms-upsell-content">
                        <h1>Accessories</h1>
                        <h2>FOR THE DIAMONDBACK</h2>
                        <div class="cms-upsell-text">
                            Make the best even better.
                        </div><a class="btn" href="/collections/accessories">Shop Accessories</a>
                    </div><img alt="Accessories" class="hidden-xs hidden-sm" src="https://cdn.shopify.com/s/files/1/1571/5355/files/Accessories_Comparison_3_L_adj.jpg?12182918124398120532"> <img alt="Accessories" class="hidden-md hidden-lg" src="https://cdn.shopify.com/s/files/1/1571/5355/files/Accessories_Comparison_3_L_adj.jpg?12182918124398120532"> <!--img src="https://cdn.shopify.com/s/files/1/1571/5355/files/accessories-mobile.png?2719183619159101586" alt="Accessories" class="hidden-md hidden-lg" /-->
                </div>
            </div>
        </div>
    </section>
</section>

<style>
  #shopify-section-collection-template{
    display: none;
  }

</style>
{% section 'collection-template' %}