{% comment %}The contents of the collection.liquid template can be found in /sections/collection-template.liquid{% endcomment %}
<script type="text/javascript">
$BV.ui( 'rr', 'inline_ratings', {
productIds : ['CVR-HD', 'CVR-SE', 'CVR-270', 'CVR-180'],
containerPrefix : 'BVRRInlineRating'
});
</script>

<section class="banner-product">
	<div class="wrapper">
		<div class="column-hidden image hd">
			<h4>DiamondBack</h4>
			<h3>HD</h3>
		</div>
		<div class="column image hd"></div>
		<div class="column copy">
<h4>DiamondBack</h4>
<h3>HD</h3>
<h1>Heavy Duty Engineering</h1>
<h2>Meets Lightweight Construction.</h2>
<div class="price">from<br><span>$1,449</span></div>
<div class="btns"><a href="/products/diamondbackhd?variant=28732457161">EXPLORE</a> / <a href="#" data-collection="354293129" class="configure_by_collection">BUY NOW</a></div>
		</div>
	</div>
</section>

<section class="banner-product">
	<div class="wrapper gray">
		<div class="column-hidden image se">
			<h4>DiamondBack</h4>
			<h3>SE</h3>
		</div>
		<div class="column image right se"></div>
		<div class="column copy">
<h4>DiamondBack</h4>
<h3>SE</h3>
<h1>The New Standard</h1>
<h2>In Hard Truck Bed Covers.</h2>
<div class="price">FROM<br><span>$1,049</span></div>
<div class="btns"><a href="/products/diamondbackse?variant=28905652553">EXPLORE</a> / <a href="#" data-collection="354293065" class="configure_by_collection">BUY NOW</a></div>
		</div>
	</div>
</section>

<section class="banner-product">
	<div class="wrapper">
		<div class="column-hidden image i270">
			<h4>DiamondBack</h4>
			<h3>270</h3>
		</div>
		<div class="column image i270"></div>
		<div class="column copy">
<h4>DiamondBack</h4>
<h3>270</h3>
<h2>Toolbox Up Front.</h2>
<h1>Truck Cover In Back.</h1>
<div class="price">from<br><span>$1,449</span></div>
<div class="btns"><a href="/products/diamondback270?variant=28904543817">EXPLORE</a> / <a href="#" data-collection="354293577" class="configure_by_collection">BUY NOW</a></div>
		</div>
	</div>
</section>

<section class="banner-product"><span class="gray">
	<div class="wrapper gray">
		<div class="column-hidden image i180">
			<h4>DiamondBack</h4>
			<h3>180</h3>
		</div>
		<div class="column image right i180"></div>
		<div class="column copy">
<h4>DiamondBack</h4>
<h3>180</h3>
<h2>Moves Like A Butterfly.</h2>
<h1>Works Like A Bee.</h1>
<div class="price">FROM<br><span>$1,249</span></div>
<div class="btns"><a href="/products/diamondback180?variant=30020674825">EXPLORE</a> / <a href="#" data-collection="354293641" class="configure_by_collection">BUY NOW</a></div>
		</div>
	</div>
  </span>
</section>

<section class="dcovers"> 

<section class="get-ready">
	<div class="tabs"></div>
		<div class="wrapper">
	
		<div class="row">
			<h1>Get Ready</h1>
			<h2>With Diamondback</h2>
		</div> 
    <div class="spacer"></div>
		<div class="row">
			<div class="column">	
				<div class="img-wrapper">
					<li class="get-ready-icon"><img src="{{ 'get-ready-01.svg' | asset_url }}" alt="Cover" /></li>
 				</div>
 				<div class="title"><span>1.</span> Choose Your Cover</div>
 			</div> 
 	
 			<div class="column">	
	 			<div class="img-wrapper">
	 				<li class="get-ready-icon"><img src="{{ 'get-ready-02.svg' | asset_url }}" alt="Order" /></li>
 				</div>
 				<div class="title"><span>2.</span>Order &amp; Track</div>
  			</div> 
  			<div class="column">	
	  			<div class="img-wrapper">
	  				<li class="get-ready-icon-last"><img src="{{ 'get-ready-03.svg' | asset_url }}" alt="Install" /></li>
 				</div>
 				<div class="title"><span>3.</span>Install &amp; <b>Be Ready</b> </div>
 			</div> 
 		</div>
	</div>
</section>

<section class="why-diamondback">
	<div class="wrapper">   
		<div class="tabs-blue"></div>
		<div class="row">	 
			<div class="column">
				<h1>Why Diamondback?</h1>
				<h2>Discover the DiamondBack Experience</h2> 
				<a href="#" data-youtube="https://www.youtube.com/embed/mWlxnJBlfnA?rel=0" class="youtube">
				<img src="{{ 'why-db.svg' | asset_url }}" alt="DiamondBack" style="max-height:75px; margin-top: 25px;" />
				</a>
			</div> 
		</div> 
	</div>             
</section>

<style>

</style>
<section class="cms-up-sell section-wrapper">
   <div class="container">
        <div class="row">	 
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 first-item">
             <div class="cms-upsell-content">
               <h1>Compare</h1>
                <h2>DIAMONDBACK COVERS</h2>
               <div class="cms-upsell-text">Discover the best DiamondBack for you.</div>
               <a class="btn" href="/pages/compare-covers">Compare</a>
             </div>
            <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/Covers_Comparison_L_adj.jpg?8149668548158440170" alt="Compare" class="hidden-xs hidden-sm  compare-img" />
            <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/Covers_Comparison_L_adj.jpg?8149668548158440170" alt="Compare" class="hidden-md hidden-lg compare-img-mobile" />


             <!--img src="https://cdn.shopify.com/s/files/1/1571/5355/files/compare-mobile.png?2719183619159101586" alt="Compare" class="hidden-md hidden-lg compare-img-mobile" /-->
             </div> 
          
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 second-item">
             <div class="cms-upsell-content">
               <h1>Accessories</h1>
               <h2>FOR THE DIAMONDBACK</h2>
               <div class="cms-upsell-text">Make the best even better.</div>
               <a class="btn" href="/collections/accessories">Shop Accessories</a>
             </div>
            			 
           <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/Accessories_Comparison_3_L_adj.jpg?12182918124398120532" alt="Accessories" class="hidden-xs hidden-sm" />
           <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/Accessories_Comparison_3_L_adj.jpg?12182918124398120532" alt="Accessories" class="hidden-md hidden-lg" />

  
           <!--img src="https://cdn.shopify.com/s/files/1/1571/5355/files/accessories-mobile.png?2719183619159101586" alt="Accessories" class="hidden-md hidden-lg" /-->
             </div>   
          
          
  </div> 
 </div>
             
</section>

<style>
  #shopify-section-collection-template{
    display: none;
  }

</style>
{% section 'collection-template' %}
</div>
</section>