<div class="columns-container warranty" id="customer-service">
    <div class="container">
        <div class="row">
            <aside>
                <div class="left_column sidebar col-sm-4 col-md-3" id="left_column">
                    {% include 'helpful-links' %}
                </div>
            </aside>
            <section class="center_column col-xs-12 col-sm-8 col-md-9" id="center_column">
                <div class="page-wrap">
                    <div class="page-content">
                        <h1 class="custom">{{ page.title }}</h1>
                        <section class="customer-service-item">
                            <h1 class="pr">Limited Lifetime Warranty</h1>
                            <div class="help-content">
                                We build the toughest truck bed covers on the market and we stand behind them. DiamondBack products come with a limited lifetime warranty that covers both the manufacture and parts of the cover. If your DiamondBack needs some help and you’re the original owner, please let us know at <a href="tel:18009354002">1.800.935.4002</a> or email us at <a href="mailto:support@diamondbackcovers.com">support@diamondbackcovers.com</a> and we’ll try to make it right. Chances are it’s an easy ﬁx, but if a repair or exchange is needed we’ll help you through the best solution step by step. Be sure to have your serial number handy when you call.
                            </div>
                        </section>
                        <section class="customer-service-item">
                            <h1>Limitations</h1>
                            <div class="help-content font16">
                                We’ve built the DiamondBack to handle just about anything you can throw at it—literally. We build ‘em tough and with you in mind. However, there are always exceptions. Here are a few things this warranty does not cover: exceeding the respective load ratings, misuse, improper installation, damage due to accidents, corrosion, alterations that modify the DiamondBack design and function, and lack of care and maintenance.
                            </div>
                        </section>
                        <section class="customer-service-item">
                            <h1>Exclusions</h1>
                            <div class="help-content font16">
                                Exclusions to this Limited Lifetime Warranty includes factory-applied coatings which are warrantied for 3 years, excluding abrasion, franchise-applied spray-on coating, and ATV Carrier packages.
                            </div>
                        </section>
                        <section class="customer-service-item">
                            <div class="warranty-info">
                                <div class="info-wrap">
                                    <div class="item title">
                                        Major Parts
                                    </div>
                                    <div class="item title">
                                        Warranties
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="item">
                                        Gas Springs
                                    </div>
                                    <div class="item">
                                        LIFETIME
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="item">
                                        Locks &amp; Locking Mechanisms
                                    </div>
                                    <div class="item">
                                        LIFETIME
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="item">
                                        Hinges
                                    </div>
                                    <div class="item">
                                        LIFETIME
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="item">
                                        Weather Strip/Seal
                                    </div>
                                    <div class="item">
                                        LIFETIME
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="item">
                                        Edge Trim
                                    </div>
                                    <div class="item">
                                        LIFETIME
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="item">
                                        Rugged Black<br>
                                        (excluding abrasion)
                                    </div>
                                    <div class="item">
                                        3 YEARS
                                    </div>
                                </div>
                            </div>
                            <div class="help-content">
                                <p>For the complete text of DiamondBack's limited lifetime warranty, <a href="https://cdn.shopify.com/s/files/1/1571/5355/files/diamondback-warranty.pdf?14915191468653275886">click here</a>.<br>&nbsp;</p>
                                <p>For DiamondBack cover purchases prior to February 1, 2016, there is a 3-year warranty on both the manufacture and parts. For complete details, <a href="https://cdn.shopify.com/s/files/1/1571/5355/files/diamondback-3-year-warranty.pdf">click here</a>.</p>
                            </div>
                            <div class="mobile-logo hidden-md hidden-lg"><img alt="warranty" src="https://cdn.shopify.com/s/files/1/1571/5355/files/warranty-stamp.png?4949824592388234570"></div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<style>
  .email-wrapper{display: none!important;}
</style>