<section class="banner help-banner">
  <div class="banner-content-wrapper">
  <div class="banner-content">
     
     <h1>
   We're Here To Help.
  </h1>
      <div class="container help-links-wrapper">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h2 class="help-first">General Info <i class="fa fa-angle-down hidden-md hidden-lg" aria-hidden="true"></i><i class="fa fa-angle-up"></i></h2>
             {% include 'help-general-info' %}
          
          </div>  
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
           <h2>Product Info <i class="fa fa-angle-down hidden-md hidden-lg" aria-hidden="true"></i><i class="fa fa-angle-up"></i></h2>
             {% include 'help-product-info' %}
            
          </div> 
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
           <h2>Product Support <i class="fa fa-angle-down hidden-md hidden-lg" aria-hidden="true"></i><i class="fa fa-angle-up"></i></h2>
             {% include 'help-product-support' %}
          </div> 
          
          
        </div>   
  </div>
  
  </div>
    </div>
 <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/help-bkg.png?639190391194092184" alt="Help" class="hidden-xs hidden-sm" />
 </section>
<section class="info-highlight home-section-points help-commitment">
  <div class="container">
      <div class="row">
	<div class="col-lg-12">	
      <div class="zubriki-wrapper"><div class="zubzi-blue-top"></div></div>
 <h1>DiamondBack Commitment</h1>
 <div class="main-content">
   At DiamondBack, we care about your experience with our company, our products and we commit to giving you the best customer experience and service possible. 
   If you have any questions or concerns, please get in touch with us. If something happens that you don’t like or something goes wrong, 
   please let us know at <span>1.800.935.4002</span> or email us at <a href="mailto:support@diamondbackcovers.com"><span>support@diamondbackcovers.com</span></a> and we’ll try to make it right.
      </div>
 </div> 
  </div> 
           
 </div>
 
 </section>