<div class="page-width compare-collection compare-collection-atv">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>Compare DiamondBack ATV/SXS <br/>Carrier Models</h1>
      </div>
      <div class="compare-batches-wrapper">
	  <div class="row">
	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><img src="https://cdn.shopify.com/s/files/1/1571/5355/files/ico-3.png?17042775585556295853"/><strong>Shipped</strong> to your door</div>
	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><img src="https://cdn.shopify.com/s/files/1/1571/5355/files/ico-2.png?17042775585556295853"/>Built in the <strong>USA</strong></div>
	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><img src="https://cdn.shopify.com/s/files/1/1571/5355/files/ico-1.png?17042775585556295853"/><strong>Lifetime</strong> Warranty</div>
	  </div>
	  </div>
	  
	  <div class="filter-compare">
	  <div class="filter-label">Filter Results: </div>
	  <div class="filter-items active" data-filter="5-6.5"><div>5' - 6.5' Beds</div></div>
	  <div class="filter-items" data-filter="8"><div>8' Beds</div></div>
	  </div>
	  
      
      <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 swipe-msg hidden-lg">
         Swipe Left/Right to View Table
           </div>
         </div>
      
      
	  
      <div class="rte">
       <section class="compare-container" >
   
	   </section>
	   
	   <div class="compare-filter-item" data-filter="5-6.5">
	   	   <div class="container">
	   <div class="row">
       <div class="comp-w">  	   
	   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 compare-collection-item first collection-atv hidden-xs hidden-sm hidden-md">
	   <div class="collection-atv-wrapper grid-first-atv-compare">
	   </div>
	   <div class=" header-spec">HAUL CAPACITY</div>
	   <div class=" header-spec bkg_grey">Window Protection</div>
	    <div class="header-spec">Extension Needed</div>
	   <div class="header-spec bkg_grey comp-sp-h">Able to use hitch</div>
         <div class="header-spec">COMPATIBLE WITH 5.5' BEDS</div>
         <div class="header-spec bkg_grey">COMPATIBLE WITH MID-SIZE TRUCKS</div>
		 <div class="header-spec hd-bb-h"></div>
	   </div>
	   
	 
	   <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 compare-collection-item collection-atv">
	   <div class="collection-atv-wrapper">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/comp-1.png?10396193864545746870" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>ATVS</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$2,049</div>
	   <div class="btn-wrapper">
	   <a href="/products/diamondbackatvs" class="btn btn_grey">EXPLORE</a>
	   <a href="#" data-collection="381500361" class="configure_by_collection btn ">BUY NOW</a>
	   </div>	   
	   </div>
	   <div class="compare-atv-spec"><div class="hidden-lg tt3">HAUL CAPACITY</div> 2 ATV's</div>
	   <div class="compare-atv-spec bkg_grey"><div class="hidden-lg tt3">Window Protection</div> No</div>
	    <div class="compare-atv-spec"><div class="hidden-lg tt3">Extension Needed</div> No</div>
	   <div class="compare-atv-spec bkg_grey comp-sp-h"><div class="hidden-lg tt3">Able to use hitch</div>  Yes</div>
          <div class="compare-atv-spec comp-sp-h"><div class="hidden-lg tt3">COMPATIBLE WITH 5.5' BEDS</div>  Yes</div>
          <div class="compare-atv-spec bkg_grey comp-sp-h"><div class="hidden-lg tt3">COMPATIBLE WITH MID-SIZE TRUCKS</div>  Yes <span class="sp-h-p"> (w/risers)</span></div>
         <div class="compare-atv-spec  hd-bb-h"></div>
	    </div>




	   <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 compare-collection-item collection-atv">
	   <div class="collection-atv-wrapper atv-first-data">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/comp-2.png?10396193864545746870" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>ATVR</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$2,149</div>
	   <div class="btn-wrapper">
	   <a href="/products/diamondbackatvr" class="btn btn_grey">EXPLORE</a>
	   <a href="#" data-collection="382306505" class="configure_by_collection btn">BUY NOW</a>
	   </div>
        </div>
	   <div class="compare-atv-spec"><div class="hidden-lg  tt3">HAUL CAPACITY</div> 1 ATV</div>
	   <div class="compare-atv-spec bkg_grey"><div class="hidden-lg tt3">Window Protection</div> Yes</div>
	    <div class="compare-atv-spec"><div class="hidden-lg tt3">Extension Needed</div> No</div>
	   <div class="compare-atv-spec bkg_grey comp-sp-h"><div class="hidden-lg tt3">Able to use hitch</div> Yes<span class="sp-h-p">(must unhitch to load/unload)</span></div>
         <div class="compare-atv-spec comp-sp-h">  Yes <span class="sp-h-p">(w/rear extension)</span></div>
         <div class="compare-atv-spec bkg_grey comp-sp-h">Yes <span class="sp-h-p">(w/rear extension)</span></div>
         <div class="compare-atv-spec  hd-bb-h"></div>
	   
	   </div>



	   <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 compare-collection-item collection-atv">
	   <div class="collection-atv-wrapper">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/comp-3.png?10396193864545746870" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>SXS</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$2,899</div>
	   <div class="btn-wrapper">
	   <a href="/products/diamondbacksxs" class="btn btn_grey">EXPLORE</a>
	   <a href="#" data-collection="354293257" class="configure_by_collection btn">BUY NOW</a>
	   </div>
           </div>
	   <div class="compare-atv-spec"><div class="hidden-lg  tt3">HAUL CAPACITY</div> 1 SXS</div>
	   <div class="compare-atv-spec bkg_grey"><div class="hidden-lg tt3">Window Protection</div> Yes</div>
	    <div class="compare-atv-spec"><div class="hidden-lg tt3">Extension Needed</div> No</div>
	   <div class="compare-atv-spec bkg_grey comp-sp-h"><div class="hidden-lg tt3">Able to use hitch</div> Yes <br/><span class="sp-h-p">(must unhitch to load/unload)</span></div>
             <div class="compare-atv-spec comp-sp-h">No</div>
          <div class="compare-atv-spec bkg_grey comp-sp-h">No</div>
         <div class="compare-atv-spec  hd-bb-h"></div>
	   </div>



	 </div>
	   <div class="bhd-ll"></div>
	   </div>
	   </div>	
	   </div>
	   
	 <div class="compare-filter-item" data-filter="8">
	
<div class="container">
	   <div class="row">
       <div class="comp-w">  	   
	   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 compare-collection-item first collection-atv hidden-xs hidden-sm hidden-md">
	   <div class="collection-atv-wrapper grid-first-atv-compare">
	   </div>
	   <div class=" header-spec">HAUL CAPACITY</div>
	   <div class=" header-spec bkg_grey">Window Protection</div>
	    <div class="header-spec">Extension Needed</div>
	   <div class="header-spec bkg_grey comp-sp-h">Able to use hitch</div>
		 <div class="header-spec hd-bb-h"></div>
	   </div>
	   
	 
	   <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 compare-collection-item collection-atv">
	   <div class="collection-atv-wrapper">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/comp-1.png?10396193864545746870" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>ATVS</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$2,199</div>
	   <div class="btn-wrapper">
	   <a href="/products/diamondbackatvs" class="btn btn_grey">EXPLORE</a>
	   <a href="#" data-collection="381500361" class="configure_by_collection btn">BUY NOW</a>
	   </div>	   
	   </div>
	   <div class="compare-atv-spec"><div class="hidden-lg tt3">HAUL CAPACITY</div> 2 ATV's</div>
	   <div class="compare-atv-spec bkg_grey"><div class="hidden-lg tt3">Window Protection</div> No</div>
	    <div class="compare-atv-spec"><div class="hidden-lg tt3">Extension Needed</div> No</div>
	   <div class="compare-atv-spec bkg_grey comp-sp-h"><div class="hidden-lg tt3">Able to use hitch</div>  Yes</div>
         <div class="compare-atv-spec  hd-bb-h"></div>
	    </div>




	   <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 compare-collection-item collection-atv">
	   <div class="collection-atv-wrapper atv-first-data">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/comp-2.png?10396193864545746870" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>ATVR</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$2,249</div>
	   <div class="btn-wrapper">
	   <a href="/products/diamondbackatvr" class="btn btn_grey">EXPLORE</a>
	   <a href="#" data-collection="382306505" class="configure_by_collection btn">BUY NOW</a>
	   </div>
        </div>
	   <div class="compare-atv-spec"><div class="hidden-lg  tt3">HAUL CAPACITY</div> 1 ATV</div>
	   <div class="compare-atv-spec bkg_grey"><div class="hidden-lg tt3">Window Protection</div> Yes</div>
	    <div class="compare-atv-spec"><div class="hidden-lg tt3">Extension Needed</div> No</div>
	   <div class="compare-atv-spec bkg_grey comp-sp-h"><div class="hidden-lg tt3">Able to use hitch</div> Yes<br/><span class="sp-h-p">(must unhitch to load/unload)</span></div>
         <div class="compare-atv-spec  hd-bb-h"></div>
	   
	   </div>



	   <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 compare-collection-item collection-atv">
	   <div class="collection-atv-wrapper">
	   <img src="https://cdn.shopify.com/s/files/1/1571/5355/files/comp-3.png?10396193864545746870" />
	   <h1 itemprop="name" class="product-single__title">DIAMONDBACK<span>SXS</span><span class="copy">&reg;</span></h1>
	   <div class="price-label">Starting MSRP</div>
	   <div class="prod-price">$2,499</div>
	   <div class="btn-wrapper">
	   <a href="/products/diamondbacksxs" class="btn btn_grey">EXPLORE</a>
	   <a href="#" data-collection="354293257" class="configure_by_collection btn">BUY NOW</a>
	   </div>
           </div>
	   <div class="compare-atv-spec"><div class="hidden-lg  tt3">HAUL CAPACITY</div> 1 SXS</div>
	   <div class="compare-atv-spec bkg_grey"><div class="hidden-lg tt3">Window Protection</div> Yes</div>
	    <div class="compare-atv-spec"><div class="hidden-lg tt3">Extension Needed</div> No</div>
	   <div class="compare-atv-spec bkg_grey comp-sp-h"><div class="hidden-lg tt3">Able to use hitch</div> Yes <br/><span class="sp-h-p">(must unhitch to load/unload)</span></div>
         <div class="compare-atv-spec  hd-bb-h"></div>
	   </div>



	 </div>
	   <div class="bhd-ll"></div>
	   </div>
	   </div>     </div>	 
	   
	   
	   
	   
	   
	   
	   
      </div>
      
      <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 swipe-msg hidden-lg">
         Swipe Left/Right to View Table
           </div>
         </div>
      
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
$('.compare-container').html($('.compare-filter-item[data-filter="5-6.5"]').html());
var colHeight = $('.atv-first-data').height();
$('.collection-atv-wrapper.grid-first-atv-compare').height(colHeight);
});
</script>
<style>
 .email-wrapper .container .contact-wrapper {
    border-top:0px;

} 
.bhd-ll {
    border-bottom: 1px solid #ccc;
    float: left;
    height: 1px;
    margin-right: 30px;
    overflow: hidden;
    padding-top: 100px;
    width: 95%;
}
  
</style>
