{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
<div class="custom-search">
<div class="banner accessories">
  <div class="banner-content">     
    <h1>My DIAMONDBACK</h1>
    <h2></h2>
  </div>
</div>
<div  id="collection-accessories" class="columns-container">
	<div class="container">
		<div class="row">
       	<section id="center_column" class="center_column col-lg-12">
              	<div class="page-wrap">
                    <div class="page-content">
                      <div class="page-width" id="Collection">
                      <div class="product-list">
                        
                        
                        
                        
                        </div>
                        </div>
                    </div>
              	</div>
			</section>
		</div>
	</div>
</div>
 </div>
<style>
.main-content {
    padding-top: 0;
}
.email-wrapper{display: none!important;}
</style>
<script>
  $(document).ready(function(){
    startCustomSearch();
  });
</script>

