{% layout 'blank' %}
<style type="text/css">
@font-face {
    font-family: 'Vitesse Medium';
    src: url('https://cdn.shopify.com/s/files/1/1643/4699/t/3/assets/Vitesse-Medium.eot');
    src: local('☺'), url('https://cdn.shopify.com/s/files/1/1643/4699/t/3/assets/Vitesse-Medium.woff') format('woff'), url('https://cdn.shopify.com/s/files/1/1643/4699/t/3/assets/Vitesse-Medium.ttf') format('truetype'), url('https://cdn.shopify.com/s/files/1/1643/4699/t/3/assets/Vitesse-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_ForzaSSm-Book';
    src: url('https://cdn.shopify.com/s/files/1/1656/2795/t/4/assets/ForzaSSm-Book.eot');
    src: local('☺'), url('https://cdn.shopify.com/s/files/1/1656/2795/t/4/assets/ForzaSSm-Book.woff') format('woff'), url('https://cdn.shopify.com/s/files/1/1656/2795/t/4/assets/ForzaSSm-Book.ttf') format('truetype'), url('https://cdn.shopify.com/s/files/1/1656/2795/t/4/assets/ForzaSSm-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    height: 600px !important;
}
body, p {
    background: #FAF8F9;
    font-size: 100%;
    position: relative;
}
#container > * {
    margin: 0 auto;
    max-width: 16em;
}
#container {
    left: 0;
    margin-top: -2.1875em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
p {
    background: #FAF8F9;
    color: #484848;
    font-family: "Vitesse Medium",sans-serif;
    font-size: 1.5em;
    margin: 0 auto;
    max-width: 8.333333333em;
    padding-bottom: 0.833333333em;
    text-align: center;
}
img {
    display: block;
    margin-top: 2.1875em !important;
    margin-bottom: .9375em !important;
    width: 5em;
}
#submitted {
    font-family: "Vitesse Medium", sans-serif;
    font-size: 24px;
}
#reply-promise {
    color: #2D2D2D;
    font-family: "Conv_ForzaSSm-Book",sans-serif;
    font-size: 14px;
}
@media only screen and (min-width: 35.5625em) {
    #container > * {
        margin: 0 auto; 
        max-width: 26em;
    }
}
</style>

<div id="container">
    <img alt="Fist bump" src="https://cdn.shopify.com/s/files/1/1571/5355/files/fist-bump-charcoal.svg?3050111438817303675"></img>
    <p id="submitted">Message sent!</p>
    <p id="reply-promise">We&rsquo;ll get back to you before the end of the next business day.</p>
</div>

	<script>olark('api.box.hide');</script>
















































